<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
		</layout>
	</appender>

	<appender name="TEST_LOG" class="ch.qos.logback.core.FileAppender">
		<file>./target/test.log</file>
		<encoder>
			<pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="TEST_LOG" />
	</root>

	<logger name="com.evolveum.midscribe" level="TRACE"/>
</configuration>
