
=== $!utils.getOrig($object.getName())

==== Connector

#set($connector=$utils.loadObject($client, $object.getConnectorRef()))

Resource uses $!utils.getOrig($connector.getDisplayName()) connector. Artifact details:

* **Connector type:** $!connector.getConnectorType()
* **Connector version:** $!connector.getConnectorVersion()
* **Connector bundle:** $!connector.getConnectorBundle()
* **Namespace:** $!connector.getNamespace()

===== Connector Configuration

[cols=3,options=header]
|===
|Parameter
|Value
|Description

#foreach($attribute in $utils.getConnectorConfiguration($object))
|$!attribute.getName()
|$!attribute.getValue()
|$!attribute.getDescription()

#end
|===

#set($handlersConfig=$utils.getResultsHandlerConfiguration($object))

#if(!$handlersConfig.isEmpty())


====== Results Handlers Configuration

[cols=2,options=header]
|===
|Parameter
|Value

#foreach($attribute in $handlersConfig)
|$!attribute.getName()
| $!attribute.getValue()

#end
|===

#end

==== Object Types
##todo sort
#foreach($type in $object.getSchemaHandling().getObjectType())
===== $!type.getDisplayName(), $!type.getKind()/$!type.getIntent()

$!type.getDescription()

[cols=3,options=header]
|===
|Attribute
|Type
|Description
##todo sort
#foreach($attribute in $type.getAttribute())
|$!attribute.getRef().toString() ($!attribute.getDisplayName())
|
|$!attribute.getDescription()

#end
|===

#end

==== Synchronization Configuration

* Table

==== Capabilities

===== Native Capabilities

$object.getCapabilities().getNative()

===== Configured Capabilities

$object.getCapabilities().getConfigured()
