## main object: $capabilities (CapabilityCollectionType)

[cols=2,options=header]
|===
|Capability
|Options

#foreach($jaxb in $capabilities.getAny())
#set($capability = $jaxb.getValue())
|$jaxb.getName().getLocalPart()
|$utils.describeCapability($capability)

#end
|===
