## FUNCTION LIBRARIES

#set($libraries=$processor.loadFunctionLibraries())

#if(!$libraries.isEmpty())

== Function Libraries

#foreach($object in $libraries)
#parse("/template/library.vm")
#end

#end