
=== $!utils.getOrig($object.getName())

$!object.getDescription()

$!utils.stripIndent($object.getDocumentation())

==== Connector

#set($connector=$utils.loadObject($client, $object.getConnectorRef()))

Resource uses $!utils.getOrig($connector.getDisplayName()) connector. Artifact details:

* **Connector type:** $!connector.getConnectorType()
* **Connector version:** $!connector.getConnectorVersion()
* **Connector bundle:** $!connector.getConnectorBundle()
* **Namespace:** $!connector.getNamespace()

===== Connector Configuration

[cols=3,options=header]
|===
|Parameter
|Value
|Description

#foreach($attribute in $utils.getConnectorConfiguration($object))
|$!attribute.getName()
|$!attribute.getValue()
|$!attribute.getDescription()

#end
|===

#set($handlersConfig=$utils.getResultsHandlerConfiguration($object))

#if(!$handlersConfig.isEmpty())


====== Results Handlers Configuration

[cols=2,options=header]
|===
|Parameter
|Value

#foreach($attribute in $handlersConfig)
|$!attribute.getName()
|$!attribute.getValue()

#end
|===

#end

==== Object Types
##todo sort
#foreach($type in $object.getSchemaHandling().getObjectType())
===== $!utils.getNameOfObjectType($type)

$!type.getDescription()

$!type.getDocumentation()

====== Overview

[cols=3,options=header]
|===
|Attribute
|Type
|Description
##todo sort
#foreach($attribute in $type.getAttribute())
|$!attribute.getRef().toString() ($!attribute.getDisplayName())
|
|$!attribute.getDescription()

#end
|===

====== Attribute Details

#foreach($attribute in $type.getAttribute())
*$!attribute.getRef().toString() ($!attribute.getDisplayName())*

#if (!$attribute.getInbound().isEmpty())
[.underline]#Inbounds#

#set($mappings = $attribute.getInbound())
#parse("/template/mappings.vm")
#end

#if ($attribute.getOutbound())
[.underline]#Outbound#

#set($mappings = $utils.asList($attribute.getOutbound()))
#parse("/template/mappings.vm")
#end
#end

#if ($type.getCredentials())
====== Credentials
##todo
#end
#if ($type.getActivation())
====== Activation
##todo
#end
#if ($type.getAssociation())
====== Association
##todo
#end
#end

#if ($object.getSynchronization())
#set ($synchronization = $object.getSynchronization())
==== Synchronization
## todo
#if ($synchronization.getObjectSynchronizationSorter())
===== Sorter
### todo sorter

#end

#foreach($obj in $synchronization.getObjectSynchronization())
## todo improve
===== $!utils.getNameOfObjectType($obj)

##### todo describe object synchronization

#end

#end

#set($native = $object.getCapabilities().getNative())
#set($configured = $object.getCapabilities().getConfigured())
#if ($native || $configured)
==== Capabilities

#if ($native)
===== Native
#set($capabilities = $native)
#parse("/template/capabilities.vm")
#end

#if ($configured)
===== Configured
#set($capabilities = $configured)
#parse("/template/capabilities.vm")
#end
#end
