## RESOURCES

#set($resources=$processor.loadResources())

#if(!$resources.isEmpty())

== Resources

#set($objects=$resources)
#parse("/template/objects-sumary-table.vm")

#foreach($object in $resources)
#parse("/template/resource.vm")
#end

#end
