## FUNCTION LIBRARIES

#set($tasks=$processor.loadTasks())

#if(!$tasks.isEmpty())

#set($objects=$tasks)
#parse("/template/objects-sumary-table.vm")

== Tasks

#foreach($object in $tasks)
#parse("/template/task.vm")
#end

#end
