=== $!utils.getOrig($object.getName())

$!object.getDescription()

$!utils.stripIndent($object.getDocumentation())

==== Include References

// todo

==== Iterator Specification

// todo

==== Items

// todo

==== Mappings

#set($mappings = $object.getMapping())
#parse("/template/mappings.vm")

// todo

##todo describe mappings, items, archetypes, includeRef, iterations
