## OBJECT TEMPLATES

#set($templates=$processor.loadObjectTemplates())

#if(!$templates.isEmpty())

== Object Templates

#set($objects=$templates)
#parse("/template/objects-sumary-table.vm")

#foreach($object in $templates)
#parse("/template/template.vm")
#end

#end
